@import url('https://fonts.googleapis.com/css2?family=Google+Sans+Flex:opsz,wght,ROND@6..144,1..1000,100&display=swap');

*,
*::before,
*::after {
  box-sizing: border-box;
  margin: 0;
  padding: 0;
  -webkit-tap-highlight-color: transparent;

}

@font-face {
  font-family: "myFont";
  src: url("fonts/OffBit-Regular.ttf") format("truetype");
  font-weight: 400;
  font-style: normal;
}

@font-face {
  font-family: "myFont";
  src: url("fonts/OffBit-Bold.ttf") format("truetype");
  font-weight: 700;
  font-style: normal;
}

:root {
  --brand: #f60900;
  --white: #fff;
  --white-2: #e0e0e0;
  --white-3: #888888;
  --black: #000000;
  --black-2: #1c1a1a;
  --black-3: #121212;
  --border: 1px solid #1e1e1e;
  --shape: squircle;
  --myFont: "myFont", sans-serif;
  --inset-shadow: 0px 1.5px 1px 0px #ffffff0f;
  --emboss-shadow: 0px 1.5px 1px -1px #ffffff33 inset;
}

body {
  font-family: "Google Sans Flex", sans-serif;
  background: var(--black);
  color: var(--white);
  display: flex;
  flex-direction: column;
  align-items: center;
  width: 100%;
  font-variation-settings:
    "slnt" 0,
    "wdth" 100,
    "GRAD" 0,
    "ROND" 100;
}

.content {
  display: flex;
  flex-direction: column;
  gap: 2rem;
  width: 100%;
  align-items: center;
  justify-content: center;
  padding: 4rem 1rem;
  max-width: 500px;
  min-height: 100vh;
}

.heading {
  font-family: var(--myFont);
  font-size: 1.5rem;
  font-weight: 700;
  color: oklch(61.271% 0.24919 29.52);
}

.accordion {
  display: flex;
  flex-direction: column;
  gap: 10px;
  width: 100%;
}

.item {
  gap: 8px;
  background: var(--black-2);
  border-radius: 32px;
  corner-shape: var(--shape);
  justify-content: center;

  align-items: center;
  box-shadow: var(--emboss-shadow);
  transition: all 0.8s ease;
}

.question {
  display: flex;
  align-items: center;
  justify-content: space-between;
  width: 100%;
  padding: 16px;
  font-weight: 600;
  border: none;
  background: none;
  color: var(--white-2);
  font-size: 16px;
  font-family: inherit;
  line-height: 100%;
  text-align: left;
  transition: all 0.8 ease;
  cursor: pointer;
}

.icon {
  display: flex;
  align-items: center;
  justify-content: center;
  transition: all 0.8s ease;
  line-height: 1;
  flex-shrink: 0;
  height: 14px;
  width: 14px;
  font-size: 20px;
}

.answer-wrap {
  display: grid;
  grid-template-rows: 0fr;
  transition: all 0.8s ease;
}

.answer-parent {
  overflow: hidden;
  font-size: 16px;
  color: var(--white-2);
 
}

.answer {
  padding: 16px;
}

.item.open {
  background: var(--black-3);
}

.item.open .answer-wrap {
  grid-template-rows: 1fr;
}

.item.open .icon {
  transform: rotate(45deg);
  color: var(--brand);
}

.item.open .question {
  color: var(--brand);
}

.accordion-2 {
  display: flex;
  flex-direction: column;
  gap: 10px;
  width: 100%;
}






.item-2 {
  gap: 1rem;
  background: var(--black-2);
  border-radius: 32px;
  corner-shape: var(--shape);
  justify-content: center;
  align-items: center;

  transition: all 0.8s ease;
  width: 100%;
  overflow: hidden;



}


.question-2 {
  width: 100%;
  display: flex;
  flex-direction: row;
  align-items: center;
  font-size: 1rem;
  justify-content: space-between;
  cursor: pointer;
  padding: 10px;
  font-weight: 500;
  transition: all 0.8s ease;


}

.icon-2 {
  color: var(--brand);
  font-size: 1.3rem;
  transition: all 0.8s ease;
}


.answer-div {
  display: grid;
  grid-template-rows: 0fr;
  transition: all 0.8s ease;

}



.answer-child {
  overflow: hidden;
  font-size: 1rem;
  color: var(--white-2);
  line-height: 150%;
}


.answer-copy {

  gap: 1rem;
  display: flex;
  flex-direction: column;

}

.imgs {
  width: 100%;
  height: 200px;
  object-fit: cover;
  border-radius: 22px;
  border: var(--border);
}


.item-2.open-2 {
  background: var(--black-3);

}

.item-2.open-2 .answer-div {
  grid-template-rows: 1fr;
  padding: 10px;

}




.item-2.open-2 .icon-2 {
  transform: rotate(-45deg);
}