@import url("https://fonts.googleapis.com/css2?family=Urbanist:ital,wght@0,100..900;1,100..900&display=swap");

@font-face {
  font-family: "myFont";
  src: url("fonts/OffBit-Bold.ttf") format("truetype");
  font-weight: 400;
  font-style: normal;
}

* {
  box-sizing: border-box;
  margin: 0;
  padding: 0;
  -webkit-tap-highlight-color: transparent;
  corner-shape: squircle;
}

:root {
  --brand: #f60900;
  --brand-dark: #7e0400;
  --white: #fff;
  --white-2: #e0e0e0;
  --white-3: #888888;
  --black: #000000;
  --black-2: #141414;
  --b-color: #e3ded5;
  --black-3: #222222;
  --shape: squircle;
  --myFont: "Urbanist", sans-serif;
  --shadow: 0px 1.5px 1px 0px #ffffffac, 0px 2px 2px -1px #ffffffe0 inset;
  --bg: #e5e5e5;
  --transition: all 0.6s ease;
  --border: 1px solid #00000009;
  --radius: 60px;
}

body {
  font-family: "Urbanist", sans-serif;
  background: var(--white);
  color: var(--black);
  display: flex;
  flex-direction: column;
  align-items: center;
  width: 100%;
}

.content {
  display: flex;
  flex-direction: column;
  gap: 2rem;
  width: 100%;
  min-height: 100vh;
  max-width: 1000px;
  align-items: center;
  justify-content: center;
  padding: 2rem;
  overflow: hidden;
}

.column1 {
  display: flex;
  flex-direction: column;
  gap: 1rem;
  width: 100%;
  align-items: center;
}

.heading1 {
  font-family: var(--myFont);
  font-size: 2rem;
  font-weight: 700;
  color: var(--brand);
  text-align: center;
}

.desc {
  font-size: 1rem;
  color: var(--black-3);
  text-align: center;
  max-width: 600px;
}

.book-form {
  display: flex;
  flex-direction: column;
  gap: 1rem;
  width: 100%;
  max-width: 600px;
  background: var(--bg);
  padding: 0.8rem;
  border-radius: var(--radius);
  box-shadow: var(--shadow);
  border: var(--border);
  transition: var(--transition);
}


.book-form input,
.book-form textarea {
  padding: 0.8rem;
  border: var(--border);
  border-radius: var(--radius);
  font-size: 0.875rem;
  width: 100%;
  font-family: inherit;
}

::placeholder {
  color: var(--black-3);
}

input:focus,
textarea:focus {
  outline: none;
  border-color: var(--brand);
}

.book-form .submit-btn {
  background: var(--bg);
  color: var(--black);
  border: none;
  padding: 0.75rem;
  border-radius: var(--radius);
  font-size: 1rem;
  cursor: pointer;
  font-family: var(--myFont);
  border: var(--border);
  box-shadow: var(--shadow);
}



.error {
  color: red;
  font-size: 0.875rem;
  text-align: center;
  display: none;
}

.booksGrid {
  display: grid;
  grid-template-columns: repeat(1, 1fr);
  grid-template-rows: repeat(2, auto);
  gap: 1rem;
  width: 100%;
  max-width: 600px;
  justify-items: center;
}

.bookCard {
  display: flex;
  flex-direction: column;
  align-items: start;
  background: var(--white);
  padding: 0.8rem;
  background: var(--bg);
  border-radius: var(--radius);
  border: var(--border);
  box-shadow: var(--shadow);
  transition: all 0.3s ease;
  cursor: pointer;
  gap: 1rem;
  width: 100%;
}


.book-name {
  font-size: 1.25rem;
  font-weight: 700;
  color: var(--brand);
}

.book-author {
  font-size: 1rem;
  color: var(--black-3);
}

.book-genre {
  font-size: 0.875rem;
  color: var(--black-3);
}

.book-year {
  font-size: 0.875rem;
  color: var(--black-3);
}

.delete-btn {
  background: var(--bg);
  color: var(--black);
  border: none;
  padding: 0.8rem 2rem;
  border-radius: var(--radius);
  font-size: 0.875rem;
  cursor: pointer;
  font-family: var(--myFont);
  transition: background 0.3s ease;
  border: var(--border);
  box-shadow: var(--shadow);
}

.noBooks {
  font-size: 1.25rem;
  color: var(--black-3);
  text-align: center;
  margin-top: 2rem;
  width: 100%;
}

@media (max-width: 768px) {}