@import url("https://fonts.googleapis.com/css2?family=Urbanist:ital,wght@0,100..900;1,100..900&display=swap");

* {
  box-sizing: border-box;
  margin: 0;
  padding: 0;
  -webkit-tap-highlight-color: transparent;
}

:root {
  --brand: #ff0034;
  --white: #fff;
  --white-2: #e0e0e0;
  --white-3: #888888;
  --black: #000000;
  --black-2: #131313;
  --black-3: #121212;
  --border: 1px solid #00000019;
  --shape: squircle;
  --myFont: "myFont", sans-serif;
}

body {
  font-family: "Urbanist", sans-serif;
  background: var(--black-2);
  color: var(--white);
  display: flex;
  flex-direction: column;
  align-items: center;
  width: 100%;
}

.content {
  display: flex;
  flex-direction: column;
  gap: 2rem;
  width: 100%;
  align-items: center;
  justify-content: center;
  padding: 8px;
  max-width: 400px;
  min-height: 100vh;
}

#parent {
  display: flex;
  flex-direction: row;
  gap: 8px;
  align-items: center;
  justify-content: center;
  height: 400px;
  width: 100%;
  transition: all 0.4s ease;
}

.child {
  display: flex;
  width: 50px;
  background: var(--brand);
  height: 90%;
  transition: all 0.4s ease;
  border-radius: 42px;
  corner-shape: var(--shape);
  cursor: pointer;
  animation: animate 0.8s normal forwards;
}

@keyframes animate {
  0% {
    transform: scale(0);
  }
  100% {
    transform: scale(1);
  }
}

.child:nth-child(2) {
  flex-grow: 1;
  height: 100%;
}
/* child 1 */

.parent-child-1 .child:nth-child(1) {
  flex-grow: 1;
  height: 100%;
}

.parent-child-1 .child:nth-child(2) {
  flex-grow: 0;
  height: 95%;
  flex-shrink: 1;
}

.parent-child-1 .child:nth-child(3) {
  flex-grow: 0;
  height: 90%;
  flex-shrink: 1;
}

/* child 2 */

.parent-child-2 .child:nth-child(1) {
  flex-grow: 0;
  height: 90%;
  flex-shrink: 1;
}

.parent-child-2 .child:nth-child(2) {
  flex-grow: 1;
  height: 100%;
  flex-shrink: 0;
}

.parent-child-2 .child:nth-child(3) {
  flex-grow: 0;
  height: 90%;
  flex-shrink: 1;
}

/* child 3 */

.parent-child-3 .child:nth-child(1) {
  flex-grow: 0;
  height: 90%;
  flex-shrink: 1;
}

.parent-child-3 .child:nth-child(2) {
  flex-grow: 0;
  height: 95%;
  flex-shrink: 1;
}

.parent-child-3 .child:nth-child(3) {
  flex-grow: 1;
  height: 100%;
  flex-shrink: 0;
}

/* div-2 */

#parentTwo {
  display: none;
  flex-direction: column;
  gap: 8px;
  align-items: center;
  justify-content: center;
  height: 400px;
  width: 100%;
  transition: all 0.4s ease;
}

.child-2 {
  display: flex;
  width: 90%;
  background: var(--brand);
  height: 50px;
  transition: all 0.4s ease;
  border-radius: 42px;
  corner-shape: var(--shape);
  cursor: pointer;
  animation: animate 0.8s normal forwards;
}

.child-2:nth-child(2) {
  flex-grow: 1;
  width: 100%;
}
/* child 1 */

.parent-2-child-1 .child-2:nth-child(1) {
  flex-grow: 1;
  width: 100%;
}

.parent-2-child-1 .child-2:nth-child(2) {
  flex-grow: 0;
  flex-shrink: 1;
  width: 95%;
}

.parent-2-child-1 .child-2:nth-child(3) {
  flex-grow: 0;
  width: 90%;
  flex-shrink: 1;
}

/* child 2 */

.parent-2-child-2 .child-2:nth-child(1) {
  flex-grow: 0;
  width: 90%;
  flex-shrink: 1;
}

.parent-2-child-2 .child-2:nth-child(2) {
  flex-grow: 1;
  width: 100%;
  flex-shrink: 0;
}

.parent-2-child-2 .child-2:nth-child(3) {
  flex-grow: 0;
  width: 90%;
  flex-shrink: 1;
}

/* child 3 */

.parent-2-child-3 .child-2:nth-child(1) {
  flex-grow: 0;
  width: 90%;
  flex-shrink: 1;
}

.parent-2-child-3 .child-2:nth-child(2) {
  flex-grow: 0;
  width: 95%;
  flex-shrink: 1;
}

.parent-2-child-3 .child-2:nth-child(3) {
  flex-grow: 1;
  width: 100%;
  flex-shrink: 0;
}

.icons-div {
  display: flex;
  gap: 8px;
  align-items: center;
  justify-content: space-between;
}

.switch-icon {
  display: flex;
  border-radius: 20px;
  align-items: center;
  justify-content: center;
  background: var(--black-2);
  color: var(--brand);
  padding: 5px;
  width: 40px;
  height: 40px;
  corner-shape: var(--shape);
  cursor: pointer;
  transition: all 0.8s ease;
}

.switch-icon:hover {
  background: #370300;
}

.switch-icon-2 {
  background: #370300;
}

.switch-icon:nth-child(1) {
  transform: rotate(90deg);
}
