  @import url('https://fonts.googleapis.com/css2?family=Albert+Sans:ital,wght@0,100..900;1,100..900&display=swap');



  * {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    -webkit-tap-highlight-color: transparent;
    corner-shape: squircle;
  }


  :root {
    --shadow: 0px 1.5px 1px 0px #ffffffac, 0px 2px 2px -1px #ffffffe0 inset;
    --bg: #e5e5e5;
    --transition: all 0.6s ease;
    --border: 1px solid #00000009;
    --radius: 60px;
  }

  body {
    min-height: 100vh;
    width: 100%;
    display: flex;
    justify-content: start;
    flex-direction: column;
    align-items: center;
    padding: 1rem 5% 1rem 5%;
    gap: 10px;
    background: #eeeeee;
    font-family: "Albert Sans", sans-serif;
    font-optical-sizing: auto;
  }



  .content {
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    width: 100%;

  }





  .header {
    display: flex;
    align-items: center;
    justify-content: space-between;
    gap: 10px;
    padding: 6px;
    border-radius: var(--radius);
    background: var(--bg);
    border: var(--border);
    width: 100%;
    max-width: 800px;

  }


  .menu {
    display: flex;
    gap: 10px;
    list-style-type: none;

  }

  li,
  a {
    text-decoration: none;
    display: inline-block;
    color: black;
    font-size: 14px;
    text-transform: capitalize;
  }


  .btn{
    padding: 12px 20px;
    border: var(--border);
    border-radius: 54px;
    box-shadow: var(--shadow);
    

  }




  .carousel {
    display: flex;
    width: 100%;
    max-width: 920px;
    align-items: center;
    justify-content: center;
    position: relative;
    overflow: hidden;


  }


  .track {
    display: flex;
    transition: var(--transition);
    width: 100%;
    padding-bottom: 10px;
    padding-top: 10px;



  }

  .card {
    display: flex;
    width: 100%;
    min-width: 100%;
    height: 400px;
    transition: var(--transition);
    border: var(--border);
    background: var(--bg);
    box-shadow: var(--shadow);
    padding: 10px;
    border-radius: var(--radius);
    align-items: center;
    justify-content: center;
    margin-right: 10px;
  }


  .no {
    display: block;
    padding: 10px 40px;
    border: var(--border);
    background: var(--bg);
    box-shadow: var(--shadow);
    border-radius: var(--radius);
  }


  .arrow {
    position: absolute;
    width: 35px;
    height: 35px;
    cursor: pointer;
    z-index: 10;
    background: var(--bg);
    padding: 5px;
    border: var(--border);
    box-shadow: var(--shadow);
    border-radius: var(--radius);

  }

  #prev {
    transform: translateX(50%);
    left: 0;

  }


  #next {
    right: 0;
    transform: translateX(-50%);
  }




  @media (min-width: 768px) {

    .card {
      display: flex;
      min-width: 300px;
      margin-right: 10px;
    }





  }