@import url("https://fonts.googleapis.com/css2?family=Space+Grotesk:wght@300..700&display=swap");

@font-face {
  font-family: "myFont";
  src: url("fonts/OffBit-Regular.ttf") format("truetype");
  font-weight: 400;
  font-style: normal;
}

* {
  box-sizing: border-box;
  margin: 0;
  padding: 0;
  -webkit-tap-highlight-color: transparent;
  user-select: none;
}

:root {
  --brand: #f60900;
  --brand-dark: #7e0400;
  --white: #fff;
  --white-2: #e0e0e0;
  --white-3: #888888;
  --black: #000000;
  --black-2: #141414;
  --black-3: #222222;
  --border: 1px solid #1e1e1e;
  --shape: squircle;
  --myFont: "myFont", sans-serif;
}

body {
  font-family: "Space Grotesk", sans-serif;
  background: var(--black);
  color: var(--white);
  display: flex;
  flex-direction: column;
  align-items: center;
  width: 100%;
}

.content {
  display: flex;
  flex-direction: column;
  gap: 1rem;
  width: 100%;
  min-height: 100vh;
  max-width: 500px;
  align-items: center;
  justify-content: center;
  padding: 1rem;
}

.parent {
  display: flex;
   width: 100%;
  flex-direction: column;
  gap: 8px;
  border-radius: 80px;
  background: var(--black-2);
  corner-shape: var(--shape);
  padding: 20px;
  align-items: center;
  justify-content: center;
  gap: 16px;
}

.user-info{
  display: flex;
  flex-direction: row;
  gap: 8px;
  align-items: center;
  justify-content: space-between;
  padding: 8px;
  border-radius: 70px;
  width: 100%;
  corner-shape:var(--shape);
  background: var(--black-3);

}

.user-img{
  width: 16%;
  border-radius: 62px;
  corner-shape: var(--shape);
}


.animated-icon{
  width: 16%;
  padding: 10px;
  border-radius: 62px;
  corner-shape:var(--shape);
  background: var(--black-2);
  color: var(--white-3);
}



.count-display {
  display: flex;
  align-items: center;
  justify-content: center;
  width: 100%;
  height: 250px;
  gap: 5px;
  background: var(--black);
  border-radius: 70px;
  corner-shape: var(--shape);
  padding: 8px;
  transition: all 0.5s ease;

  box-shadow: inset 0px 0px 30px var(--brand);
}

.count-display:hover {
  box-shadow: inset 0px 0px 40px var(--white-3);
}

#countDisplay {
  font-family: var(--myFont);
  font-size: 4rem;
  font-weight: 400;
  text-align: center;
  line-height: 95%;
  display: flex;
  color: var(--white-2);
}

.controls{
  display: flex;
  flex-direction: row;
  gap: 8px;
  align-items: center;
  justify-content: space-between;
  width: 100%;
  padding: 8px;
  border-radius: 70px;
  corner-shape:var(--shape);
  background: var(--black-3);
  
}

.cont-icon {
  background: var(--black-3);
  color: var(--brand);
  padding: 8px;
  width: 50px;
  height: 50px;
  border-radius: 62px;
  corner-shape: var(--shape);
  cursor: pointer;
  transition: all 0.5s ease;
  box-shadow: inset 0px 0px 5px var(--white-3);
}

.cont-icon:hover {
  color: var(--white-2);
  box-shadow: inset 0px 0px 5px var(--white-2);
}

.reset {
  padding: 1rem 2rem;
  background: var(--white);
  color: var(--black);
  outline: none;
  border: none;
  border-radius: 62px;
  corner-shape: var(--shape);
  font-size: 1rem;
  text-transform: capitalize;
  font-family: inherit;
  font-weight: 500;
  word-spacing: 2px;
  cursor: pointer;
  transition: all 0.5s ease;
  box-shadow: inset 0px 0px 10px var(--black-3);
}

.reset:hover {
  box-shadow: inset 0px 0px 5px var(--black-2);
}

.red-tag {
  font-family: var(--myFont);
  font-size: 4rem;
  font-weight: 400;
  text-align: center;
  line-height: 95%;

  color: var(--brand);
}
